* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  min-height: 10vh;
  background-color: black;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  list-style-type: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links a:hover {
  color: #f1356d;
}

.logo {
  font-size: 1.5rem;
}

.middle-part {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: black;
  color: white;
}

h2 {
  font-size: 5rem;
}
